{% extends "base.html" %}

{% block content %}
<h1>Minnow Bucket Trading Post</h1>
<h3>All Watercraft</h3>
  <div class="col-md-6">
    {% for object in object_list %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{ object.pick_category }} {{ object.title }}</h3>
          </div>
          <div class="panel-body">
              <img class='thumb' src="{{ object.photo_url }}" alt="" />
              {{ object.description }} ${{ object.price }}  {{ object.seller }} />
          </div>
        </div>
    {% endfor %}
{% endblock %}
