{% extends "base.html" %}

{% block content %}

<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{ object.photo_url }}" alt="">
      <div class="caption">
        <h3>{{ object.title }}</h3>
        <p>${{ object.price }}</p>
        <p>Location: {{ object.city }}</p>
        <p>Description: {{ object.description }}</p>
        <h4>Seller:</h4>
        <p> {{ object.seller }}, {{ object.seller.traderprofile.email_address }}</p>
        <img class='logo' src="{{ object.seller.traderprofile.logo_url }}" alt="" />
        <br>
        <br>
        <p><a href="{% url 'full_list_view' %}">Go to all listings.</a></p>
      </div>
    </div>
  </div>
{% endblock %}
