{% extends "base.html" %}

{% block content %}
  <h3>Your listings</h3>
    {% for object in object_list %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ object.title }}</h3>
        </div>
        <div class="panel-body">
            <img class='thumb' src="{{ object.photo_url }}" alt="" />
            {{ object.description }}
            ${{ object.price }}
            <a href="{% url 'listing_update_view' object.pk %}">Update listing</a>
        </div>
      </div>
    {% endfor %}
{% endblock %}

<!-- ADD UPDATE AND DELETE BUTTONS. track clicks? -->
