<!-- /accounts/profile/-->

{% extends "base.html" %}

{% block content %}
  <h3>Welcome {{ request.user }}. </h3>
  <h5>Preferred area: {{ request.user.traderprofile.preferred_location }}</h5>
  <h5>Primary category: {{ request.user.traderprofile.primary_category }}</h5>
  <h5>Email: {{ request.user.traderprofile.email_address }}</h5>
  <a href="{% url 'trader_profile_update_view' %}">Update your profile</a>

  <h3>Keep track of your listings here. </h3>
  <a href="{% url 'listing_create_view' %}">Post a new listing</a>
    {% for object in object_list %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ object.title }}</h3>
        </div>
        <div class="panel-body">
            <img class='small' src="{{ object.photo_url }}" alt="" />
            {{ object.description }}
            ${{ object.price }}
            <a href="{% url 'listing_update_view' object.pk %}">Update listing</a>
            <a href="{% url 'listing_delete_view' object.pk %}">Delete listing</a>
        </div>
      </div>
    {% endfor %}
{% endblock %}
