{% extends "base.html" %}

{% block content %}
  <p><a href="{% url 'city_list_view' %}">Back to Search by City</p>

<div class="col-md-6">
  {% for object in object_list %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ object.pick_category }} in {{ object.city }}: <a href="{% url 'list_detail_view' object.pk %}">{{ object.title }}</a></h3>
        </div>
        <div class="panel-body">
            <a href="{% url 'list_detail_view' object.pk %}"><img class='small' src="{{ object.photo_url }}" alt="" /></a>
            {{ object.description }}
            PRICE: ${{ object.price }}
        </div>
      </div>
  {% endfor %}
  {% endblock %}
