{% extends "base.html" %}

{% block content %}
<h1>Minnow Bucket Trading Post</h1>
<h3>The full big list, unfiltered </h3>
  <div class="col-md-6">
    {% for object in object_list %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{ object.pick_category }}: <a href="#">{{ object.title }}</a></h3>
          </div>
          <div class="panel-body">
              <img class='small' src="{{ object.photo_url }}" alt="" />
              {{ object.description }}
              PRICE: ${{ object.price }}
              SELLER: {{ object.seller }}  <img class='tiny' src="{{ object.seller.traderprofile.logo_url }}" alt="" />
          </div>
        </div>
    {% endfor %}
{% endblock %}
