{% extends "base.html" %}

{% block content %}
  <h3>Gallery view</h3>
    <div class="row">
      {% for object in object_list %}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="{{ object.photo_url }}" alt="">
              <div class="caption">
                <h3>{{ object.title }}</h3>
                  <p>${{ object.price }}</p>
                  <p><strong>Location:</strong> {{ object.city }}</p>
                  <p><strong>Description:</strong> {{ object.description }}</p>
                  <h4>Seller:</h4>
                  <p> {{ object.seller }}, {{ object.seller.traderprofile.email_address }}</p>
                  <img class='logo' src="{{ object.seller.traderprofile.logo_url }}" alt="" />
              </div>
            </div>
          </div>
      {% endfor %}
    </div>
{% endblock %}
