{% extends "base.html" %}

{% block content %}
  <h1>LKN SwapShop on the way. Please check back. </h1>
    <div class="col-md-6">
      {% for object in object_list %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{ object.category}}: {{ object.title }}</h3>
            </div>
            <div class="panel-body">
                <img class='thumb' src="{{ object.listing.photo_url }}" alt="" />
                {{ object.description }} ${{ object.price }}
            </div>
          </div>
      {% endfor %}
{% endblock %}
