{% extends "base.html" %}

{% block content %}
  <h1>Minnow Bucket Trading Post</h1>
  <h3>Buy and sell stuff you need to be on the lake</h3>
  <h4>Nothing over $9,999.99</h4>
    <div class="col-md-6">
        {% for category in object_list %}
            <h4><a href="{% url 'category_list_view' category.pk %}">{{ category.new_category }}</a></h4>
                {% for category in category.sub_choice.all %}
                <li><a href="{% url 'subcat_list_view' category.pk%}">{{ category.new_category }}</a></li>
                {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
