{% extends "base.html" %}

{% block content %}
<div class="col-md-6">
  <h3>Thumbnail view</h3>
  <p> <a href="{% url 'index_view' %}">Go back</a> to all categories and views </p>
  {% for object in object_list %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ object.pick_category }}: <a href="{% url 'list_detail_view' object.pk %}">{{ object.title }}</a></h3>
        </div>
        <div class="panel-body">
            <a href="{% url 'list_detail_view' object.pk %}"><img class='small' src="{{ object.photo_url }}" alt="" /></a>
            {{ object.description }}
            PRICE: ${{ object.price }}
        </div>
      </div>
  {% endfor %}


{% endblock %}
